<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Imovel - Update</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
  jQuery(document).ready(
  function($) {

		$("#btn-save-hdb").click(function(event) {
             // validando id hash e id number
		     let internalId = $("#peopleId").val();
             if(!isNaN(internalId)){
                   internalId = parseInt(internalId);
             }
            // respeitando Case
		    var data = {}
		    data["id"] = internalId; //$("#peopleId").val();
			data["codigoInterno"] = $("#codigoInterno").val();
			data["Nome"] = $("#nome").val();
			data["DataNascimento"] = $("#dataNascimento").val();
			data["Observacao"] = $("#observacao").val();

            console.log(data);

            var settings = {
              "url": "https://cloud-dbe-bisterco.harperdbcloud.com",
              "method": "POST",
              "timeout": 0,
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "Basic YmlzdGVyY286Q2FsbTA2MjNA"
              },
              "data": JSON.stringify({
                "operation": "update",
                "schema": "rep1",
                "table": "people",
                "records": [ data ]
              }),
            };

            $.ajax(settings).done(function (response) {
              console.log(response);
              alert("Alteração realizada com sucesso");
            });
		});

	});

</script>
</head>
<body>
Imovel UPDATE
<br>
<input type="hidden" id="peopleId" th:value="${peopleId}"></input>
Codigo Interno :
<input type=text class="form-control" id="codigoInterno" th:value="${codigoInterno}"><br>
Nome
<input type=text class="form-control" id="nome" th:value="${imovel}"><br>
Data Nascimento
<input type=text class="form-control" id="dataNascimento" th:value="${apelido}"><br>
Observação
<input type=text class="form-control" id="observacao" th:value="${observacao}"><br>
<br>
<button type="submit" id="btn-save-hdb"
        class="btn btn-primary btn-lg">Update HDB</button>
<br>
<a href="/imovel/refresh">Voltar</a>

</body>
</html>