<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
</head>
<body>
<h1>Index Periodos</h1>
<h2>
    <a href="/">Voltar Menu Principal</a></h2><br>
    <a href="/test/tests.html">Voltar Menu Testes</a></h2><br>
<a href="/formcriaperiodos"> Inclui Periodo (Form)</a><br>
<a href="/listaperiodos"> Lista Periodos</a><br>
<!--  
<a href="paraio_pagtos_efetuados.html"> Pagamentos Efetuados</a><br>
<a href="paraio_pagtos_efetuados_full.html"> Pagamentos Efetuados FULL</a><br>
-->
</body>
</html>