<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIX</title>
</head>
<body>
<br>
    <h6>QR Code - Mercado Pago</h6>
    <img th:src="@{/img/PIX-RB-MP.jpeg}" alt="PIX MERCADO PAGO" width="270px">
<br>
    <h6>QR Code - PicPay</h6>
    <img th:src="@{/img/qr_code_pp.jpeg}" alt="PIX MERCADO PAGO" width="270px">
<br>
<br>
<br>
<a href="/">Voltar</a>
</body>
</html>