<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>versions - List Log</title>
</head>
<body>
<h1> versions.html - List Log</h1>
<br>
<a href="/">Voltar</a>&nbsp;
<br>
<ul>
  <li>[18/01/24] Modificações
    <br>restdb - protegendo api key
    <br>
  </li>
  <li>[10/01/24] Modificações
    <br>CANONIC - ajuste de Data
    <br>CANONIC - ajustando problema singleton em PRD
  </li>
  <li>[09/01/24] Modificações
    <br>CANONIC - publicando versáo final pos problema com git
  </li>
  <li>[28/12/23] Modificações
    <br>CANONIC People - GET - criação
  </li>
  <li>[01/11/23] Modificações
    <br>ImovelPagtosList - criação
  </li>
  <li>[05/09/23] Modificações
    <br>ImovelFinanceiro - ajuste resol. mobile + harper1 SQL
  </li>
  <li>[01/09/23] Modificações
    <br>ImovelFinanceiro - Sindico e Administradora
  </li>
  <li>[31/08/23] Modificações
    <br>ImovelFinanceiro - update ok
  </li>
  <li>[28/08/23] Modificações
    <br>ImovelOcorrencia - inclusao de userCreated e userUpdated
  </li>
  <li>[23..24/08/23] Modificações
    <br>Security + controle automatico Sysout. Problemas com Git local.
  </li>
  <li>[21/08/23] Modificações
    <br>ImovelOcorrencia - update.
  </li>
  <li>[18/08/23] Modificações
    <br>ImovelOcorrencia - trazer dados do imovel.
  </li>
  <li>[16/08/23] Modificações
    <br>Imovel.Status.
  </li>
  <li>[04/08/23] Modificações
    <br>Imobiliaria - list.
  </li>
  <li>[02/08/23] Modificações
    <br>ImovelOcorrencia - add, exibição de data e quebra de linhas na descrição.
  </li>
  <li>[01/08/23] Modificações
    <br>ImovelOcorrencia - List
  </li>
  <li>[31/07/23] Modificações
    <br>Imovel V2 - List - harperdb
    <br>Cultura Edit e Delete - restdb
  </li>
  <li>[28/07/23] Modificações
    <br>datastax - nao deu
    <br>Cultura List - restdb
  </li>
  <li>[16/06/23] Modificações
    <br>Inclusão do Imovel
    <br>Inclusão do Favicon
    <br>Testando novo comando maven
    <br>com o local server ligado... funcionou, mesmo com o mvn package original.
  </li>
  <li>[15/06/23] Modificações
    <br>Finalizando People update
    <br>Correção parametros (encode/decode)
  </li>
  <li>[13/06/23] Início página log.
    <br>Criação do People - HarperDB
    <br>Criação da página
  </li>
</ul>
<br>
<a href="/">Voltar</a>
</body>
</html>