<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>versions - List Log</title>
</head>
<body>
<h1> versions.html - List Log</h1>
<ul>
  <li>[01/08/23] Modificações
    <br>ImovelOcorrencia - List
    <br>
  </li>
  <li>[31/07/23] Modificações
    <br>Imovel V2 - List - harperdb
    <br>Cultura Edit e Delete - restdb
  </li>
  <li>[28/07/23] Modificações
    <br>datastax - nao deu
    <br>Cultura List - restdb
  </li>
  <li>[16/06/23] Modificações
    <br>Inclusão do Imovel
    <br>Inclusão do Favicon
    <br>Testando novo comando maven
    <br>com o local server ligado... funcionou, mesmo com o mvn package original.
  </li>
  <li>[15/06/23] Modificações
    <br>Finalizando People update
    <br>Correção parametros (encode/decode)
  </li>
  <li>[13/06/23] Início página log.
    <br>Criação do People - HarperDB
    <br>Criação da página
  </li>
</ul>
<br>
<a href="/">Voltar</a>
</body>
</html>