<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Imovel Ocorrencia - ADD Form</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
.bs-example {
	margin: 20px;
}
</style>
</head>
<body>
<div class="container" style="margin-top: 30px;">
    <h5>Adicionando Imovel Ocorrencia</h5>

    <!-- <form action="\culturaAdd"> -->
    <form action="#" th:action="@{/imovelOcorrenciaUpdate}" th:object="${imovelOcorrencia}" method="post">


        <input type="hidden" class="form-control" id="imovelId"
               name="imovelId" th:field="*{imovelId}">

        <input type="hidden" class="form-control" id="id"
               name="id" th:field="*{id}">

        <!--
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="codigo">Código (opcional)</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="id" th:field="*{id}">
            </div>
        </div>
        -->

        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="nr_ref">Nro Ref. (opcional)</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="nr_ref" th:field="*{nr_ref}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="descricao">Descrição</label>
            <div class="col-sm-9">
                <!--
                <input type="text" class="form-control" id="descricao"
                        th:field="*{descricao}">  -->
                <textarea class="form-control" id="description" rows="5"
                          name="description"
                          placeholder="Description" th:field="*{descricao}"
                          required="required"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="statusFinal">STATUS</label>
            <div class="col-sm-9">
                <select th:field="*{statusFinal}">
                    <option value="EM ANDAMENTO">EM ANDAMENTO</option>
                    <option value="FINALIZADO">FINALIZADO</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-9 offset-sm-3">
                <button type="submit" class="btn btn-success save-btn">Save</button>
                <a href="/" class="btn btn-light"
                   role="button">Voltar</a>
            </div>
        </div>

    </form>
</div>
</body>
</html>